#app-0630 {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  direction: ltr;

  .web-container {
    width: clac(100vw);
    height: calc(100vh);

    .app-error {
      color: red;
    }

    .v-is-valid {
      border: 1px green solid;
      box-shadow: 0.01em 0 1em 0.1em #008000bf;
    }

    .v-is-invalid {
      border: 1px red solid;
    }

    main {
      width: 100%;
    }

    .footer-container {
      position: relative;
      clear: both;
      height: 40px;
      width: 100%;
      background-color: black;
      color: white;
      direction: ltr;
    }
    .pages-container {
      height: calc(100vh - 180px);
      width: 100%;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      padding-top: 5px;
      overflow-x: hidden;
    }

    @media only screen and (min-width: 450px) {
      .App-header {
        // background-image: url("logo_tr.png");
        height: 180px;
      }
      .App-title {
        font-size: 3.5em;
        padding-top: 40px;
      }
      .pages-container {
        overflow: hidden;
        height: max-content;
      }
    }

    .user-menu-container {
      width: 100%;
    }
    .menu-sider-container {
      width: 100%;
      height: max-content;
      .menu-sider-logo {
        border-bottom: 1px gray solid;
      }
      .menu-sider-item {
        clear: both;
        color: black;
        a {
          color: inherit;
        }
      }
    }

    .user-menu-container {
      .user-menu-user-image {
        width: 100%;
        text-align: center;
        position: relative;
        clear: both;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .page-viewer-container {
      height: 90%;
      width: 100%;
      padding: 30px;
      h2 {
        padding: 20px;
      }
      .content-title {
        font-size: 20px;
        color: red;
        padding: 5px;
      }
    }

    .img-not-found {
      display: none;
    }
    .app-header {
      background-color: black;
      width: 100%;
      height: 50px;
      position: relative;
      color: white;
      .app-header-menu {
        position: absolute;
        right: 20px;
        top: 10px;
      }
      .user-status-container {
        width: 100px;
        position: absolute;
        left: 10px;
        top: 15px;
        color: white;
      }
    }

    .login-container {
      margin: 25px;
      padding: 20px;
      label {
        padding: 5px;
      }
    }

    .user-info-container {
      width: 100%;
      text-align: center;
      padding: 50px;

      .user-info-form {
        padding: 10px;
        text-align: right;
        width: 50%;
        min-width: 500px;
        border: 1px rgb(187, 185, 185) solid;
        display: inline-block;
        label {
          padding: 5px;
          width: 120px;
        }
        .file-btn {
          font-size: 14px;
        }
        .user-info-image {
          text-align: center;
          img {
            width: 90px;
            height: 90px;
            position: relative;
          }
        }
        .image-selected-info {
          font-size: 12px;
          padding: 10px;
        }
      }
    }
    .grid-container {
      padding: 1px;
      .grid-toolbar {
        height: 45px;
        padding: 10px;
        margin: 5px;
        margin-bottom: 0px;
        background-color: gray;
        text-align: right;
      }
      .grid-btn {
        border: 1px rgb(207, 203, 203) solid;
        height: 20px;
        margin: 5px;
        background-color: white;
        background-position: left;
        background-repeat: no-repeat;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 10px;
      }

      .grid-add-btn {
        background-image: url("../assets/images/add.jpg");
        background-size: 22px;
        padding: 8px 8px 5px 25px;
      }

      .grid-body {
        padding: 1px;
        margin: 5px;
        margin-top: 0px;
        // border: 1px red solid;
        display: flow-root;
        .grid-data-empty {
          width: 100%;
          color: #2c3e50;
        }

        .grid-row-selected {
          background-color: blueviolet;
          div {
            background-color: blueviolet;
          }
        }
        .grid-row {
          width: 100%;
          overflow: hidden;
          border-bottom: 1px gray dotted;
          //float: left;
          // position: relative;
          [class^="grid-col-"] {
            float: right;
            border: 1px gray dotted;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 20px;
            min-height: 30px;
          }

          .grid-delete-btn {
            background-image: url("../assets/images/delete.jpg");
            background-size: 20px;
            padding: 5px 8px 5px 22px;
          }

          .grid-delete-btn:hover,
          .grid-add-btn:hover {
            font-weight: 600;
          }

          .grid-col-1 {
            width: 100%;
          }
          .grid-col-2 {
            width: calc(100% / 2);
            &.col-width-2 {
              width: calc((100% / 3) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 3);
            }
          }
          .grid-col-3 {
            width: calc(100% / 3);
            &.col-width-2 {
              width: calc((100% / 4) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 4);
            }
          }
          .grid-col-4 {
            width: calc(100% / 4);
            &.col-width-2 {
              width: calc((100% / 5) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 5);
            }
          }
          .grid-col-5 {
            width: calc(100% / 5);
            &.col-width-2 {
              width: calc((100% / 6) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 6);
            }
          }
          .grid-col-6 {
            width: calc(100% / 6);
            &.col-width-2 {
              width: calc((100% / 7) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 7);
            }
          }

          .grid-col-7 {
            width: calc(100% / 7);
            &.col-width-2 {
              width: calc((100% / 8) * 2);
            }
            &.col-width-1 {
              width: calc(100% / 8);
            }
          }
        }
      }
    }
  }
}
