$scrollWidth: 10px;

.page-container {
  width: calc(100vw) !important;
  overflow: hidden;
  border: 1px;
  background-color: rgb(233, 220, 220);
  border-radius: 5px;
  height: max-content;
  padding-bottom: 10px;
  position: relative;
  .ss-row {
    width: 100%;
    float: left;
    .ss-col-4 {
      float: left;
      height: 200px;
    }
  }
}
@media (max-width: 450px) {
  .ss-row,
  .row {
    .ss-col-4 {
      width: calc(100vw);
    }
  }
}

@media (min-width: 450px) and (max-width: 750px) {
  .ss-row,
  .row {
    .ss-col-4 {
      width: calc((100vw / 2) - #{$scrollWidth});
    }
  }
}

@media (min-width: 750px) and (max-width: 1050px) {
  .ss-row,
  .row {
    .ss-col-4 {
      width: calc((100vw / 3) - #{$scrollWidth});
    }
  }
}

@media (min-width: 1050px) {
  .ss-row,
  .row {
    .ss-col-4 {
      width: calc((100vw / 4) - #{$scrollWidth});
    }
  }
}
.page-container .page-item {
  padding: 2px;
  border-radius: 5px;
  margin: 15px;
  background-color: white; /* rgb(104, 85, 129);*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  width: 90%;
  height: 90%;
  position: relative;
}

.page-container .page-item .new-badge-hidden {
  display: none;
}

.page-container .page-item .new-badge {
  border-bottom: 50px transparent solid;
  border-right: 50px #07ff1b solid;
  /*float: right;*/
  width: 60px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.page-container .page-item .new-badge .rotate-span {
  width: 50px;
  height: 20px;
  text-align: center;
  transform: rotate(45deg);
  float: right;
  position: relative;
  top: 9px;
  right: -58px;
  font-size: 14px;
  font-weight: 600;
}

.page-container .page-item .page-item-header {
  margin-bottom: 10px;
  height: 70px;
  border-bottom: 2px gray solid;
  display: flex;
}

.page-container .page-item .page-item-header .page-item-title {
  font-weight: 600;
  font-size: 18px;
  width: 40%;
  text-align: center;
  a {
    top: 20px;
    position: relative;
  }
}

.page-container .page-item .page-item-header .page-item-img {
  width: 50px;
  margin: 10px;
}

.page-container .page-item .img-not-found {
  display: none;
}

.page-container .page-item-info {
  text-align: justify;
  padding: 10px;
  font-family: nazanin, tahoma, "Times New Roman", Times, serif;
  font-size: 16px;
  color: black;
  line-height: 28px;
}
